.TableViewMorePlan {
  // &__btn-view {
  //   display: flex;
  //   justify-content: center;
  // }

  #TableViewMorePlan__collaps-table {
    .Polaris-LegacyCard {
      // margin-top: 20px;
      box-shadow: none;
      border: 1px solid var(--border-shadow-divider, #e1e3e5);
    }
  }

  &__table {
    table {
      position: relative;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }
    thead tr th {
      // &:first-child {
      //   // width: 30%;
      //   width: 280px;
      // }
      // width: 23.333%;
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
      // box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
      background-color: var(--p-surface);
      z-index: 10;
      box-shadow: 0px -1px 0px 0px #e1e3e5 inset;

      .TableViewMorePlan__box-pricing {
        .Polaris-Button {
          min-height: var(--pc-button-slim-min-height);
          padding: var(--pc-button-slim-vertical-padding) var(--p-space-3);
        }
        .Polaris-Button__Content{
          font-size: 12px;
        }
      }
    }

    // tr>td {
    //   padding: 0;
    // }
    th {
      text-align: center;
      padding: 8px;
      background-color: #ffff;
      &:first-child {
        max-width: 280px;
        padding: 20px;
      }
    }

    th p {
      font-size: var(--p-font-size-5);
      font-weight: var(--p-font-weight-semibold);
      text-transform: uppercase;
    }

    // td {
    //   text-align: center;
    //   padding: 12px 16px;
    //   background-color: #ffff;
    // }

    tbody {
      .TableViewMorePlan__collapsible {
        border-bottom: 1px solid #e1e3e5;
      }
      tr {
        // td {
        //   border-bottom: 1px solid var(--p-surface-neutral-subdued);
        // }

        &:nth-child(25),
        &:last-child {
          td {
            border-bottom: none;
          }
        }

        td .Polaris-Button {
          color: var(--p-swift-primary);
        }
        td .Polaris-Button svg {
          fill: var(--p-swift-primary);
        }
      }

      tr.TableViewMorePlan__row-btn {
        td {
          padding: 12px 8px;
        }
      }
    }

    td {
      &:first-child {
        text-align: left;
      }
    }

    td.TableViewMorePlan__title-header {
      position: relative;
      font-size: var(--p-font-size-7);
      font-weight: var(--p-font-weight-semibold);
      border-radius: 8px;
      background-color: var(--p-surface-success-subdued);
      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background-color: var(--p-swift-primary);
        border-radius: 0px 8px 8px 0px;
      }
    }

    td.TableViewMorePlan__collaps {
      // border-bottom: none;
      padding: 0;
      .Polaris-Collapsible {
        p {
          padding: 0 16px 16px 35px;
          color: var(--p-text-subdued);
        }
      }
    }
  }

  @media screen and (max-width: 48rem) {
    #TableViewMorePlan__collaps-table {
      .Polaris-LegacyCard {
        overflow-x: scroll;
      }
    }
  }
}
