.Tag-Filter {
  .Tag-left {
    h1 {
      font-weight: 700;
    }
  }
  .Tag-right {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    .Search-Result {
      display: flex;
      position: relative;
      column-width: 100%;
      .search {
        height: 38px;
        border-radius: 6px;
        margin-left: 1rem;
        padding: 1rem;
        width: 100%;
        resize: vertical;
        &:hover {
          border: 1.5px solid rgba(212, 212, 212);
        }
      }
      button {
        position: absolute;
        right: 0.1px;
        top: 1px;
        padding: 0.9rem;
        border-radius: 6px;
        background-color: #fff;
        z-index: 0;
        &:hover {
          background-color: rgba(59, 73, 223, 0.1);
          color: rgba(47, 58, 178);
          z-index: 1;
        }
      }
    }
  }
}

.listTags {
  .inner-Tag {
    display: flex;
    flex-direction: column;
    height: 195px;
    color: rgba(23, 23, 23);
    box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.05);
    overflow-wrap: anywhere;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: relative;
    margin-bottom: 1rem;
    padding: 16px 20px 20px;
    .ful-Tag {
      .tag-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        span {
          font-size: 1.2rem;
          color: #717171;
        }
      }
      .tag-title {
        p {
          font-size: 1.4rem;
          color: #575757;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
    .tag-button {
      display: flex;
      margin-top: auto;
    }
 
  }
}

.podcasts-footer {
  background-color: #e5e5e5;
  color: #171717;
  padding: 4.8rem;
  text-align: center;
  margin-top: 4rem;
  .footer {
    margin: 0;
    padding: 0;
    color: rgb(47, 58, 178);
    display: ruby-text;
    li {
      a {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        color: rgb(47, 58, 178);  
      }
    }
  }
  .footer-close {
    span,p {
      font-size: 1.4rem;
       a {
        color: rgb(47, 58, 178);
       }
    }
  }
}
