.wrapper {
  .header-full {
    display: flex;
    justify-content: space-between;
  }
  .header-content {
    margin: -4px 0px;
    padding: 4px 0px;
    .button-content {
      color: #090909;
      font-size: 1.8rem;
      padding: 8px 12px;
    }
  }
  .img-top {
    &:focus {
      border: 2px solid #2f3ab2;
    }
  }
  .post-Sign {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 6px;
    .post {
      color: #171717;
      padding: 20px;
    }
    .post-link {
      color: #3b49df;
    }
  }
  .img-title-footer {
    padding-left: calc(2rem + 0.5rem);
    padding-right: calc(2rem + 0.5rem);
  }
  .footer {
    padding-left: 2rem;
  }
  .image-top {
    height: 50%;
    object-fit: contain;
    display: block;
    margin: 0.5rem auto;
    max-width: 90%;
    max-height: calc(50vh + 180px);
    border-radius: 8px;
  }
  .title-page-content {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
  }
  .header-title {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 7px;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
    .ImgAndTitle {
      display: flex;
      margin: 0px 0px 16px;
      .title-separateName {
        margin-left: 1.5rem;
        align-items: center;
        position: relative;
        button,
        .title-inside {
          font-size: 1.4rem;
          font-weight: 600;
        }
        span {
          margin: 0 5px;
        }
        .title-time {
          position: absolute;
          left: 0px;
          bottom: -7px;
          font-size: 1.2rem;
        }
        /* Tippy inside title-separateName */
        .wrapper-Tippy {
          width: 349px;
          height: auto;
          border-radius: 8px;
          background-color: #fff;
          border-top: 34px solid #0c3ec6;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
          .inner-Tippy {
            margin: 12px 0px 0px 0px;
            padding: 0 15px 16px;
            position: relative;
            top: -26px;
            .header-Tippy {
              display: flex;
              cursor: pointer;
              .image-Tippy {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                position: relative;
                border: 1px solid black;
              }
              span {
                font-weight: 600;
                font-size: 20px;
                margin: 20px 15px 0px;
                color: #404040;
              }
            }
            .button-Tippy {
              width: 100%;
              border-radius: 6px;
              height: 40px;
              margin: 15px 0px;
              background: #3b49df;
              color: #f9f9f9;
              padding: 8px 16px;
              font-size: 1.6rem;
              cursor: pointer;
              &:hover {
                background-color: rgb(47, 58, 178);
              }
              &:focus {
                background-color: rgb(47, 58, 178);
              }
            }
            .color-base {
              color: #575757;
              margin-bottom: 10px;
            }
            ul {
              list-style: none;
              margin-bottom: 10px;
              margin-left: -18px;
              li {
                margin-bottom: 5px;
                .key {
                  font-weight: 700;
                  font-size: 1.2rem;
                  color: #525252;
                }
                .value {
                  color: #090909;
                }
              }
            }
          }
        }
      }
      .image {
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
      }
      .img-children {
        img {
          width: 20.8px;
          height: 20.8px;
          position: absolute;
          right: 89rem;
          top: 41.5rem;
          border: 1px solid black;
          border-radius: 50%;
        }
      }
    }
    .content {
      padding: 0px 0px 0px 48px;
      .title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1;
        &:hover {
          color: var(--color-primary-hover-font);
          text-decoration: underline;
        }
      }
      .tag {
        margin: 16px 0px 16px -4px;
        display: flex;

        button {
          font-size: 1.4rem;
          margin-left: 10px;
        }
      }
      .title-footer {
        display: flex;
        justify-content: space-between;
        .title-link-One {
          .title-left-footer {
            background-color: rgba(255, 255, 255, 1);
            display: flex;
            &:hover {
              background-color: rgba(0, 0, 0, 0.035);
              border-radius: 6px;
            }
            .title-icon-footer {
              display: flex;
              align-items: center;
              padding: 4px 12px 4px 8px;
              .IconFull {
                span {
                  img {
                    padding: 2px;
                    width: 2rem;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.035);
                  }
                }
              }
              .title-reactions {
                font-size: 1.4rem;
                color: #3d3d3d;
                margin-left: 1rem;
              }
            }
            .title-icon-footer-comment {
              margin-left: 30px;
              span {
                margin-left: 10px;
              }
            }
          }
        }
        .title-link-Two {
          button {
            background-color: rgba(255, 255, 255, 1);
            padding: 4px 12px 4px 8px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.035);
              border-radius: 6px;
            }
          }
          .title-icon-footer-comment {
            display: flex;
            align-items: center;
            .icon-reaction-comment {
              margin-right: 0.5rem;
              color: #3d3d3d;
            }
          }
          span {
            color: #3d3d3d;
            font-size: 1.4rem;
            margin-left: 1rem;
          }
        }
        .title-link-Three {
          .title-icon-footer {
            display: flex;
            align-items: end;
            span {
              font-size: 1.2rem;
              padding: 4px;
            }
          }
          .icon-future {
            color: #2f3ab2;
            background-color: rgba(255, 255, 255, 1);
            &:hover {
              background-color: rgba(59, 73, 223, 0.1);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
  /* ở đây là PersonCommunity  */
  .header-title {
    .header-community {
      padding: auto;
      margin-right: 20px;
    }
    .header-icon {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      p {
        color: #171717;
        font-size: 1.4rem;
      }
      button {
        background-color: #fff;
        padding: 8px;
        &:hover {
          background-color: #f6f6f6;
          border-radius: 6px;
        }
      }
    }
    .content-community {
      padding: 0px 40px;
      img {
        width: 520px;
        height: 273px;
        border-radius: 6px;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: 700;
        color: #171717;
      }
      p {
        color: #171717;
      }
      .tag-link {
        color: #3b49df;
        font-size: 2.4rem;
        font-weight: 800;
        text-decoration: underline;
        margin-bottom: 10px;
        &:hover {
          color: rgb(47, 58, 147);
        }
      }
      .content-highlights {
        font-size: 2.5rem;
        font-weight: 700;
      }
      .content-link {
        .link {
          color: #3b49df;
          text-decoration: underline;
        }
      }
      .inner-avatar {
        display: flex;
        align-items: center;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
          0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
        margin-top: 5rem;
        border-radius: 6px;
        border-top: 3rem solid black;
        margin-bottom: 2rem;
        .imgAvatar {
          width: 94.28px;
          height: 94.28px;
          border-radius: 50%;
          padding: 1rem;
        }
        .title-span {
          padding: 1rem;
          .title-father {
            color: #171717;
            font-weight: 700;
            font-size: 2.4rem;
          }
          .title-children {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
