.InputProductTag {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  &__list-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    // max-width: 400px;
  }

  &__btn-tag {
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--p-action-primary-disabled);
    &:hover {
      background: var(--p-action-secondary-hovered);
    }
  }
  &__btn-tag.active {
    background: var(--p-action-primary-depressed);
    color: var(--p-surface);
    &:hover {
      background: var(--p-action-primary-hovered);
    }
  }
}
