$color-dark-blue: #081362;
$color-blue: #0032AB;
$color-light-blue: #00519C;
$color-aqua:  #1890FF;
$color-light-blue-1: #EDEFFF;
$color-light-blue-2: #A4E8F2;
$color-light-blue-3: #F2F7FE;
$color-gray: #6D7175;
$color-yellow: #FAAD14;
$color-light-red: #FFF7E8;
$color-light-red-1: #FFF1F1;
$color-light-red-2: #FFF4F4;
$color-white-1: #F8F9FA;
$color-light-green: #EBF9FC;
$color-light-yellow: #FFF5EA;
$color-violet: #45458D;